.profileContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px;
  }
  
  .profileContent {
    width: 100%;
    max-width: 1000px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    padding: 16px;
    }
    
    .fileInput {
    display: none;
    }
    
  .userInfo {
    padding: 16px;
  }
  
  .input__group {
    display: flex;
    flex-direction: column;
    width: 100%;

    margin-top: 10px;

    label {
      font-size: 12px;
      color: #949494;
      margin: 5px 2px;
      text-transform: uppercase;
      font-weight: bold;
    }
  }

  .perfilButtons {
    padding: 5px 16px;

    button {
      width: 40px;
      height: 40px;
      border-radius: 5px;
      border: 1px solid #ccc;
      background-color: gray;
      cursor: pointer;
      margin-right: 10px;
    }
  
    button:not(:last-child) > svg {
      fill: #007bff; 
      width: 24px;
      height: 24px;
    }
  
    button:nth-last-child(2) > svg {
      fill: #28a745; 
      width: 24px;
      height: 24px;
    }
  
    button:last-child > svg {
      fill: #dc3545; 
      width: 24px;
      height: 24px;
    }
  }
  