header {
    display: flex;
    align-items: center;
    width: 100vw;
    
    padding: 5px;

    h1 {
        margin-left: 20px;
    }

    .navLinks {
        margin-left: 70%;

        ul {
            display: flex;
            li {
                display: flex;
                margin: 5px;

                font-weight: 500;
                text-transform: uppercase;
            }

            li:hover {
                transition: 1s;
                color: orangered;
                text-decoration: underline;
            }
        }
    }

    .navButtons {
        display: flex;
        flex-direction: row-reverse;
        margin: 10px;

        button {
            margin: 5px;
        }
    }
}