@use '../../../styles/base.scss';

@mixin baseInput {
  border: 1px solid #ccc;
}

@mixin headerInput {
}

@mixin homeInput {
}

.primaryInput {
  display: flex;
  align-items: center;
  width: 100%;
  border-radius: 5px;
  border: 1px solid #ccc;
  transition: border-color 0.3s ease;
  overflow: hidden;

  .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 25px;
    margin: 10px;
  }

  textarea {
    flex: 1;
    height: 100px;
    border: none;
    padding: 10px;
    resize: none;
    border-radius: 5px;
    box-sizing: border-box;
  }

  textarea::placeholder {
    color: #a8a8a8;
    font-size: 12px;
  }

  textarea:focus {
    outline: none;
  }

  &:focus-within {
    border-color: #e85d04;
  }
}

.secondaryInput {
  @include baseInput;
}

.tertiaryInput {
  @include baseInput;
}

.quarternaryInput {
  @include baseInput;
}
