  .enviarAtividade {
      height: 100%;

      .input__group {
          display: flex;
          flex-direction: column;
      
          width: 100%;
          margin: 10px;
      
          label {
            font-size: 16px;
            text-transform: uppercase;
            font-weight: 600;
            color: #949494;
            margin: 5px 2px;
          }
        }
    
      .button_atividade {
          margin: 15px 10px;
      }

      textarea {
        flex: 1;
        height: 100px;
        border: none;
        padding: 10px;
        resize: none;
        background: none;
        border-radius: 5px;
        box-sizing: border-box;
      }
  }