.headerDesafio {
    width: 100%;
    max-width: 1200px; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
    // border: 1px solid red;
    
    div:first-child {
      margin: 17px;

    }

    div:last-child {
        margin: 17px;
        display: flex;
    }
 
    h1 {
      margin: 0;
      font-size: 1.5rem;
      color: #666;
      text-transform: uppercase;
    }
  }