@use '../../styles/base.scss';

@mixin baseButton {
  width: 100px;
  height: 30px;
  padding: 5px;
  font-weight: bold;
  text-transform: uppercase;
  border: none;
  border-radius: 5px;
  background-color: #ccc;
  cursor: pointer;
  display: flex;
  align-items: center; 
  justify-content: space-around;
}

@mixin loginButton {
  @include baseButton;
  background-color: green;
  color: #fff;

  &:hover {
    background-color: #3c763d;
    border: 1px solid green;
    transition: background-color 0.4s ease;
  }
}

@mixin logoutButton {
  @include baseButton;
  background-color: red;
  color: #fff;

  &:hover {
    background-color: #d9534f; 
    border: 1px solid red;
    transition: background-color 0.4s ease;
  }
}

@mixin homeButton {
  width: 30%;
  height: 40px;
  border: none;
  border-radius: 5px;
  background-color: #e85d04;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  display: flex; 
  align-items: center; 
  justify-content: space-between;
}

.primaryButton {
  @include baseButton;
}

.secondaryButton {
  @include loginButton;
}

.tertiaryButton {
  @include homeButton;
}

.atividadeButton {
  @include homeButton;
  width: 170px;
  font-weight: 500;
}

.icon {
  display: flex;
  align-items: center;
  font-size: 18px;
}
