@use '../../styles/base.scss';

@mixin baseButton {
  width: 100px;
  height: 30px;

  padding: 5px;

  font-weight: bold;
  text-transform: uppercase;

  border: none;
  border-radius: 5px;
  background-color: #ccc;
  cursor: pointer;
}

@mixin headerButton {
  @include baseButton;
  background-color: #e85d04;
  color: #fff;

  &:hover {
    background-color: #fff;
    border: 1px solid #e85d04;
    color: #e85d04;
    transition: 2s;
  }
}

@mixin homeButton {
  width: 30%;
  height: 40px;

  border: none;
  border-radius: 5px;

  background-color: #e85d04;
  color: #fff;

  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
}

.primaryButton {
  @include baseButton;
}

.secondaryButton {
  @include headerButton;
}

.tertiaryButton {
  @include homeButton;
}

.atividadeButton {
  @include homeButton;
  width: 170px;
  font-weight: 500;
  
}
